.button {
  padding: 13px 35px;
  border-radius: 5px;
  font-weight: var(--fontWeightRegular);
  transition: all 0.3s ease-in-out;
  border-width: 0px;
  color: white;
  display: inline-block;
  line-height: 1;
  font-size: 14px;
  cursor: pointer;

  &.small {
    padding: 10px 20px;
  }

  &.rounded {
    padding: 0;
    font-size: 24px;
    width: 56px;
    height: 56px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    corner-shape: squircle;
    @supports (corner-shape: squircle) {
      border-radius: 30px;
    }
  }

  &.default {
    background-color: var(--default);
  }

  &.primary {
    background-color: var(--primary);
  }

  &:hover {
    filter: brightness(90%);
  }

  &:focus,
  &:active {
    filter: brightness(75%);
  }
}
