// export const colorObject = {
//     default: `#d4d5d8`,
//     warning: `#e6a700`,
//     danger: `#e13238`,
//     info: `#4cb3d4`,
//   };

.AlertStyles {
  padding: 15px;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 5px solid #d4d5d8;
  background: var(--sideCardColor);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  p {
    margin: 0;
  }
  &.warning {
    --alert-color: #e6a700;
  }
  &.danger {
    --alert-color: #e13238;
  }
  &.info {
    --alert-color: #4cb3d4;
  }
  &.success {
    --alert-color: #28a745;
  }
  &.primary {
    border-left-color: var(--primary);
    --alert-color: var(--primary);
  }
  border-left-color: var(--alert-color);
  .AlertHeader {
    margin-bottom: 10px;
    color: var(--alert-color);
    i {
      vertical-align: middle;
      font-size: 18px;
    }
    span {
      font-weight: var(--fontWeightMedium);
      vertical-align: middle;
      text-transform: uppercase;
    }
  }
  @include tablet {
    padding: 20px;
    padding-top: 15px;
  }
}
