// export const colorObject = {
//     default: `#d4d5d8`,
//     warning: `#e6a700`,
//     danger: `#e13238`,
//     info: `#4cb3d4`,
//   };

.AlertStyles {
  padding: 20px;
  margin: 20px 0;
  border-left: 5px solid #d4d5d8;
  background: var(--sideCardColor);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  p {
    margin: 0;
  }
  &.warning {
    border-left-color: #e6a700;
  }
  &.danger {
    border-left-color: #e13238;
  }
  &.info {
    border-left-color: #4cb3d4;
  }
  &.success {
    border-left-color: #28a745;
  }
  &.primary {
    border-left-color: var(--primary);
  }
}
