@keyframes bgAnim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2180px);
  }
}
.Hero {
  position: relative;
  //margin-top: 60px;
  height: 30vh;
  background: rgba(0, 132, 255, 1);
  background-image: linear-gradient(
    243.4deg,
    rgba(0, 215, 206, 1) 13%,
    rgba(0, 132, 255, 1) 98%
  );
  overflow: hidden;
  .inner-container {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% + 15px);
    transform: translate(0, -50%);
    color: white;
    font-size: 25px;
    font-weight: var(--fontWeightBold);
    text-align: center;

    @include desktop {
      font-size: 50px;
    }
  }

  .img-bg {
    background-position: center;
    background-size: 14%;
    position: absolute;
    left: 0;
    width: 6540px;
    top: 0;
    bottom: 0;
    background-image: url(/img/abstractbgRings.svg);
    background-repeat: repeat;
    animation: bgAnim 350s infinite linear;
    @include desktop {
      height: auto;
    }
  }
  @include desktop {
    height: 50vh;
  }
  .img-bg-2 {
    background-image: url(/img/abstractbgOther.svg);
    animation: bgAnim 250s infinite linear;
  }
}
