.PaginationWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 25px;
  .left,
  .right {
    width: auto;
    height: auto;
    background-color: var(--primary);
    i {
      display: none;
    }
    span {
      display: inline-block;
      position: relative;
      &:before {
        position: absolute;
        content: '\e904';
        display: inline-block;
        font-family: 'icomoon' !important;
        left: 100%;
      }
    }
    &.disabled {
      pointer-events: none;
      opacity: 0;
    }
  }
  .left {
    transform: rotate(0deg);
    span:before {
      transform: scale(-1, 1);
      right: 100%;
      left: auto;
    }
  }
}
