@font-face {
  font-family: 'icomoon';
  // src: url('../../static/fonts/icomoon.eot?weix62');
  src:
    url('/fonts/icomoon.ttf?weix62') format('truetype'),
    url('/fonts/icomoon.woff?weix62') format('woff');
  // url('../../static/fonts/icomoon.svg?weix62#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list-view:before {
  content: '\e900';
}
.icon-grid-view:before {
  content: '\e901';
}
.icon-calendar:before {
  content: '\e902';
}
.icon-double-arrow:before {
  content: '\e903';
}
.icon-arrow-right:before {
  content: '\e904';
}
.icon-category:before {
  content: '\e905';
}
// .icon-pluralsight:before {
//   content: '\e90b';
// }
.icon-logo:before {
  content: '\e908';
}
.icon-link:before {
  content: '\e907';
}
.icon-marker:before {
  content: '\e90c';
}
.icon-cake:before {
  content: '\e90d';
}
.icon-email:before {
  content: '\e90e';
}
.icon-open-new-tab:before {
  content: '\e90f';
}
.icon-stack-overflow-bottom:before {
  content: '\e906';
}
.icon-stack-overflow-top:before {
  content: '\e909';
}
.icon-linkedin:before {
  color: #0077b5;
  content: '\e90a';
}
.icon-github:before {
  content: '\e910';
  color: var(--bodyColor);
}
.icon-stack-overflow:before {
  content: '\e911';
}
// .icon-behance:before {
//   color: #1769ff;
//   content: '\e912';
// }
// .icon-codepen:before {
//   content: '\e913';
//   color: var(--bodyColor);
// }
.icon-moon:before {
  content: '\e914';
}
.icon-sun:before {
  content: '\e915';
}
.icon-arrow:before {
  content: '\e916';
}
.icon-stack-overflow-color {
  position: relative;
}
.icon-stack-overflow-color:before {
  content: '\e909';
  color: #f48024;
}
.icon-stack-overflow-color:after {
  content: '\e906';
  position: absolute;
  left: 0;
  top: 0;
  color: #bcbbbb;
}
.icon-stop:before {
  content: '\e917';
}
.icon-pause:before {
  content: '\e918';
}
.icon-play:before {
  content: '\e919';
}
.icon-single-arrow:before {
  content: '\e91a';
}
.icon-single-arrow-big:before {
  content: '\e91b';
}
.icon-kaggle:before {
  color: #20beff;
  content: '\e91a';
}
.icon-share:before {
  content: '\e91b';
}
.icon-bullet-list:before {
  content: '\e900';
}
.icon-close:before {
  content: '\e901';
}
.icon-streamlit:before {
  color: #ff4b4b;
  content: '\e902';
}
.icon-danger:before {
  content: '\e907';
}
.icon-success:before {
  content: '\e903';
}
.icon-warning:before {
  content: '\e90b';
}
.icon-info:before {
  content: '\e90c';
}
// Import Vanilla framework
// @import '~vanilla-framework/scss/vanilla';
// @include vf-base;
// @include vf-b-placeholders;
// @include vf-p-headings;

html,
.root {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
body,
.article {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
body {
  font-family:
    Ubuntu,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  transition:
    background-color 0.3s ease-in,
    color 0.3s ease-in;
  // background-image:
  //   radial-gradient(at 12% 26%, rgb(10, 27, 80) 0px, transparent 50%),
  //   radial-gradient(at 48% 55%, hsl(202, 77%, 17%) 0px, transparent 50%),
  //   radial-gradient(at 28% 95%, hsl(273, 65%, 17%) 0px, transparent 50%),
  //   radial-gradient(at 42% 60%, hsl(180, 70%, 17%) 0px, transparent 50%),
  //   radial-gradient(at 62% 19%, hsl(289, 81%, 17%) 0px, transparent 50%),
  //   radial-gradient(at 79% 79%, hsl(233, 71%, 17%) 0px, transparent 50%);
  //   radial-gradient(
  //   circle,
  //   rgba(28, 34, 48, 1) 0%,
  //   rgba(33, 150, 243, 1) 50%,
  //   rgba(28, 34, 48, 1) 100%
  // );
  background-attachment: fixed;
}

:root {
  --mobile-typography-scale: 1.125;
  --desktop-typography-scale: 1.25;
  --fontWeightBold: 700;
  --fontWeightMedium: 500;
  --fontWeightRegular: 400;
  --fontWeightLight: 300;
  --theme: dark;
  --primary: #2196f3;
  --primaryRgb: 33, 150, 243;
  --accent: #ee5651;
  --tertiary: #ffc107;
  // --bodyBackgroundColor: #212738;
  --bodyBackgroundColor: hsl(224 26% 15% / 1);
  --bodyBackgroundColorRgb: 28, 34, 48;
  --bodyColor: #b5c3d1;
  --cardColor: hsl(223 26% 22% / 1);
  --sideCardColor: #0d1117;
  --cardShadow: 0px 22px 40px rgba(0, 0, 0, 0);
  --mobile: 576px;
  --tablet: 768px;
  --desktop: 992px;
  --globalBlurRadius: 30px;
  --globalBlurTransparency: 50%;
  // --cardColor: rgba(42, 50, 71, var(--globalBlurTransparency));
  // --sideCardColor: rgba(13, 17, 23, var(--globalBlurTransparency));
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

// /* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}
a,
b,
i,
strong,
em,
small,
code {
  line-height: 1;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--primary);
}
.m-0 {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.date {
  color: #9e9e9e;
}
.category-shadow {
  box-shadow: 0 4px 3px 0px rgba(0, 0, 0, 0.16);
}
.navbar-special-styles.navbar-special-styles {
  box-shadow: none;
  background-color: transparent;
  backdrop-filter: none;
}

.half-rem-mt {
  margin-top: 0.5rem;
}
.half-rem-mb {
  margin-bottom: 0.5rem;
}
.two-rem-mt {
  margin-top: 2rem !important;
}
.two-rem-mb {
  margin-bottom: 2rem;
}
.four-rem-mt {
  margin-top: 4rem;
}
.four-rem-mb {
  margin-bottom: 4rem;
}
.six-rem-mt {
  margin-top: 6rem;
}
.six-rem-mb {
  margin-bottom: 6rem;
}
.one-rem-mb {
  margin-bottom: 1rem;
}
.one-rem-mt {
  margin-top: 1rem;
}

.show-for-tablet {
  display: none;
  @include desktop {
    display: block;
  }
}
.section-spacer {
  margin: 6rem 0;
  @include desktop {
    margin: 10rem 0;
  }
}

.text-center {
  text-align: center;
}
.text-primary {
  color: var(--primary);
}
.text-accent {
  color: var(--accent);
}

.d-none {
  display: none !important;
}
.text-right {
  text-align: right;
}
.relative {
  position: relative;
}

.blog-wide-section {
  width: 100% !important;
  border: none;
  border-radius: 8px;
  max-width: 1366px;
}

.google-slides {
  @media screen and (max-width: 768px) {
    height: 300px;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.full-bleed {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}
.remove-shadow {
  box-shadow: none;
}

.scroll-top-margin {
  scroll-margin-top: 100px;
}

// table {
//   border-spacing: 0;
//   border-collapse: separate;
//   border-radius: 10px;
//   // border: 1px solid black;
// }

// // add border radius to table
// table tr:first-child th:first-child,
// table tr:first-child td:first-child {
//   border-top-left-radius: 10px;
// }

// table tr:first-child th:last-child,
// table tr:first-child td:last-child {
//   border-top-right-radius: 10px;
// }

// table tr:last-child th:first-child,
// table tr:last-child td:first-child {
//   border-bottom-left-radius: 10px;
// }

// table tr:last-child th:last-child,
// table tr:last-child td:last-child {
//   border-bottom-right-radius: 10px;
// }

@keyframes swim {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 6000px;
  }
}

@keyframes bob {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes bob2 {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes bgAnim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2180px);
  }
}

@keyframes swim-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-130px);
    opacity: 0;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}
