.parent {
  @include tablet {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
  }
}

.workExperience {
  margin-bottom: 30px;
  @include tablet {
    margin-bottom: 0px;
  }
}
