.postParent {
  #introduction {
    visibility: hidden;
    height: 0;
    margin: 0;
    scroll-margin-top: 250px;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 200px;
  }
  > img {
    max-width: 100%;
    height: auto;
    cursor: zoom-in;
  }
  a {
    text-decoration: underline;
  }
  pre {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #4c4c4c;
    code {
      font-size: 12px;
      display: grid;
      gap: 8px;
    }
  }
  @include tablet {
    & > * {
      width: 750px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    // a:has(img) {
    //   display: block;
    //   margin-left: auto;
    //   margin-right: auto;
    //   margin-bottom: 8px;
    // }
  }
}
.article {
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }
}
.headerImageWrapper {
  width: auto;
  margin-bottom: 40px;
  margin-left: -15px;
  margin-right: -15px;

  img {
    width: 100%;
    height: auto;
  }
  @include desktop {
    position: relative;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
    img {
      border-radius: 8px;
    }
  }
}

.category-holder {
  // a {
  // &:after {
  // content: '  •  ';
  // margin-right: 5px;
  // position: relative;
  // top: -2px;
  // }
  // &:last-child:after {
  // content: '';
  // }
  // }
}
.category-link {
  display: inline-block;
  font-weight: var(--fontWeightMedium);
  vertical-align: middle;
  text-transform: uppercase;
  background: var(--cardColor);
  margin: 4px;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.meta {
  font-size: 14px;
}

.PaginationWrapper {
  margin-bottom: 3rem;
  margin-top: 2rem;
  a {
    float: none !important;
    margin: 0;
    margin-top: 15px;
    display: block;
    border-radius: 3px;
    width: auto;
    max-width: none;
    font-size: 18px;
    background: hsl(224 26% 14% / 1);
    color: var(--primary);
    box-shadow: none;
    padding: 12px;
    white-space: normal;
    border: 1px solid hsl(224 26% 25% / 1);
    small {
      color: var(--bodyColor);
    }
    div {
      line-height: 1.5;
      margin-top: 5px;
    }
    &.next {
      text-align: right;
    }
  }
  @include desktop {
    width: 750px;
    display: flex;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
    a {
      padding: 15px;
      flex: 1;
      &.prev {
        text-align: right;
      }
      &.next {
        text-align: left;
      }
      div {
        margin-top: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.dot-pattern {
  @include desktop {
    position: relative;
    &:after,
    &:before {
      content: '';
      opacity: 0.2;
      position: absolute;
      width: 300px;
      background-repeat: repeat;
      top: 110px;
      height: 613px;
      background-image: radial-gradient(var(--bodyColor) 1px, transparent 1px);
      background-size: 25px 22px;
    }
    &:before {
      left: 0px;
    }
    &:after {
      right: 0px;
    }
  }
}

.toc {
  margin-bottom: 2rem;
  @include tablet {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}
