.postParent {
  a {
    text-decoration: underline;
  }
  #introduction {
    visibility: hidden;
    height: 0;
    margin: 0;
    scroll-margin-top: 250px;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 200px;
  }
  > img {
    max-width: 100%;
    height: auto;
    cursor: zoom-in;
  }
  @include tablet {
    & > * {
      width: 750px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}
.article {
  & > * {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
      width: 750px;
    }
  }
}
.headerImageWrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 100%;
    height: auto;
  }
  @include desktop {
    width: 750px;
  }
}
