.Navbar {
  transition:
    background-color 0.3s ease-in,
    box-shadow 0.3s ease-in;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  background-color: rgba(var(--bodyBackgroundColorRgb), 0.7);
  box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.3);
  padding: 0px 30px 0px 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  backdrop-filter: blur(10px);
  height: 60px;
}

.navLink {
  font-size: 18px;
  font-weight: var(--fontWeightMedium);
  display: none;
  position: relative;
  @include tablet {
    display: flex;
    align-items: center;
  }
  &.navActive:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -10px;
    right: -10px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--accent);
  }
}
.homeLink {
  margin-right: auto;
  display: flex;
  align-items: center;
}
