.floating-image {
  position: fixed;
  width: auto !important;
  top: 0px;
  left: 0px;
  z-index: 10;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-content: center;
  cursor: zoom-out;
  img {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 16px;
  z-index: 2;
  background: var(--cardColor);
  padding: 8px 15px;
  border-radius: 8px;
  transform: translate(-50%, -50%);
}

.main-image {
  border-radius: 5px;
  margin-bottom: 15px;
}
