.StyledLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 0;
  h1 {
    margin-left: 0;
  }
}

.Footer {
  border-top: 1px solid #414141;
  border-bottom: 5px solid var(--primary);
  text-align: center;
  padding: 2rem;
  small {
    display: block;
  }
  .social-links {
    a {
      font-size: 20px;
      & + a {
        margin-left: 15px;
      }
    }
    i:before {
      color: var(--bodyColor);
    }
  }
  @include tablet {
    .social-links {
      // display: none;
    }
  }
}
