.StyledDownloadCV {
  padding: 25px 30px;
  background: var(--sideCardColor);
  border-radius: 8px;
  min-height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--cardShadow);
  .top-sec {
    font-size: 20px;
  }
  .cv {
    position: relative;
    perspective: 500px;
    perspective-origin: center;
    p {
      margin: 0;
      font-size: 12px;
      line-height: 1.7;
    }
    &:hover {
      .first-page {
        // transform: rotateY(-150deg) rotateZ(-10deg);
        // z-index: -1;
        transform: rotate3d(6, -12, 0, 118deg);
      }
    }
  }
  .page {
    background-color: var(--bodyBackgroundColor);
    border-radius: 6px;
    padding: 8px;
    border: 2px solid #2c364d;
    width: 100px;
  }

  .first-page {
    position: absolute;
    top: 6px;
    left: 3px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform-origin: 0px 0px;
  }
  .second-page {
    position: relative;
    top: 8px;
  }

  @include tablet {
    width: 280px;
    min-height: 230px;
  }
  @include desktop {
    min-height: 290px;
  }
}
